@if (Data.RenderFreagment != null)
{
    <div class="fixed-top w-100 h-100" style="background-color: #64646464;z-index: 500;">
        <div class="position-relative bg-white @Data.Class @(Data.DisableMainClass ? "" : Class)" style="z-index: 500; padding: 20px;top: 50%; left: 50%; transform: translate(-50%, -50%); max-height:90%; width: @Data.Width; height: @Data.Height; ">
                <button class="btn btn-outline-danger border-0 float-right" @onclick="Close"><span class="oi oi-x"></span></button>
                @Fragment
        </div>
    </div>
}
